<html>
<head>
  <title>Registration form</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
  <script type="text/javascript" src="{{ url_for('static', filename='js/scripts.js') }}"></script>
</head>
  <body>

    {{ session }}

    {% with messages = get_flashed_messages() %}
      {% if messages %}
        {% for message in messages %}
          <p>{{message}}</p>
        {% endfor %}
      {% endif %}
    {% endwith %}

    <form action="/registration" method="post">
      <label>First name:</label>
      <input type="text" name="firstname">

      <label>Last name:</label>
      <input type="text" name="lastname">

      <label>Email:</label>
      <input type="text" name="emailaddress">

      <label>Password:</label>
      <input type="text" name="password">

      <label>Confirm password:</label>
      <input type="text" name="confirmpwd">

      <input type="submit" value="Submit" />
    </form>

  </body>
</html>
