<html>
<head>
  <title>Registration form</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
  <script type="text/javascript" src="{{ url_for('static', filename='js/scripts.js') }}"></script>
</head>
  <body>

    {{ session }}


    <h1>Thanks for submitting your information.</h1>

      <h3>First name: {{form_data['firstname']}}</h3>
      <h3>Last name: {{form_data['lastname']}}</h3>
      <h3>Email: {{form_data['emailaddress']}}</h3>
      <h3>Email: {{form_data['birthdate']}}</h3>
      <h3>Password: {{form_data['password']}}</h3>
      <h3>Confirm password: {{form_data['confirmpwd']}}</h3>


  </body>
</html>
